body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
    color: #333;
}

header {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
    margin-top: 20px;
}